
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 80px;
  background-color: #A167A5;
}





.logo {
  font-size: 30px;
  color: white;
  font-family: "Berlin Sans FB";
  padding-left: 20px;
}